@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    clip-path: polygon(5% 6%, 95% 6%, 100% 100%, 0% 100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.btn--hero {
    clip-path: polygon(3% 0, 97% 0, 100% 100%, 0% 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.btn--box {
    clip-path: polygon(3% 0, 97% 0, 100% 100%, 0% 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.home{
    font-weight: bold;
}
.home::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #004956;
    transition: width .8s ease-in-out;
}
.home:hover::after{
    width: 100%;
}
.header{
    opacity: .95;
}